<tr>
  <td><%= authentication_log.when %></td>
  <td><%= authentication_log.user %></td>
  <td><%= authentication_log.application %></td>
  <td><%= authentication_log.result %></td>
  <td><%= authentication_log.access_device %></td>
  <td><%= authentication_log.second_factor %></td>
</tr>