<!DOCTYPE html>
<html>
	<head>
		<title>Deauthorized Website Leads</title>
	</head>
	<body>

		<h2>Contact from Deauthorized</h2>
		<p>Contact Name:
			<%= @contact.name %></p>
		<p>Email:
			<%= @contact.email %></p>
		<p>Phone:
			<%= @contact.phone %></p>
		<p>Enterprise:
			<%= @contact.category %></p>
		<p>Message:
			<%= @contact.message %></p>
	</body>
</html>
