<!-- ========== FOOTER ========== -->
<footer class="light-footer">
  <div class="container-footer">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag('deauthorized-black-v2.png', class: "footer-logo") %>
      </div>

      <div class="col-md-3">
        <h6 class="mtn">ABOUT</h6>
        <ul>
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <!-- <li> <%= link_to "About Us", about_us_path %> </li> <li> <%= link_to "Pricing", pricing_path %> </li> -->
          <li>
            <%= link_to "Privacy Policy", privacy_policy_path %>
          </li>
          <li>
            <%= link_to "Terms of Service", terms_of_service_path %>
          </li>
        </ul>
      </div>

      <!-- <div class="col-md-2"> <h6 class="mtn">CONSUMERS</h6> <ul> <li> <%= link_to "Features", consumers_path %> </li> </ul> </div> -->

      <div class="col-md-3">
        <h6 class="mtn">PRODUCT</h6>
        <ul>
          <li>
            <%= link_to "Features", enterprises_path %>
          </li>
          <li>
            <li>
              <%= link_to "Get a Beta Invite", beta_invite_path %>
            </li>
            <li>
              <a href="https://blog.deauthorized.com/" target="_blank">Read Our Latest Blog</a>
            </li>

          </li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="mtn">Social</h6>
        <ul>
          <li>
            <a href="https://facebook.com/deauthorized" target="_blank">Facebook</a>
          </li>
          <!-- <li> <%= link_to "About Us", about_us_path %> </li> <li> <%= link_to "Pricing", pricing_path %> </li> -->
          <li>
            <a href="https://twitter.com/deauthorized" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://medium.com/@deauthorized" target="_blank">Medium</a>
          </li>
        </ul>
      </div>


    </div>
    <!-- end row -->

    <div class="row footer-bottom">
      <div class="col-md-6">
        <p>Copyright &copy; Deauthorized 2017. All Rights Reserved.</p>
      </div>
    </div>
    <!-- end footer-bottom -->
  </div>
  <!-- end container -->
</footer>